html {
    font-size: 20px;
    height: 100%;
}

body {
    background: #ffc600;
    font-family: 'helvetica neue';
    font-weight: 200;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-direction: column;
}
h2
{   color: whitesmoke;
    text-transform: capitalize;
}
.title
{
    border-top: 5px solid #dab327;
    border-bottom: 5px solid #dab327;
    margin-bottom: 40px;
}
.words {
    width: 600px;
    height: auto;
    background-color: white;
    padding: 5px;
    border-radius: 20px;
    border: 5px solid #dab327;
    outline: none;
}

.words .list {
    color: #555;
    font-size: 22px;
    padding: 0 !important;
    width: auto;
    font-family: courier, monospace;
    border: 1px solid #dedede;

}

.words .list li {
    list-style: none;
    border-bottom: 1px dotted #ccc;
    text-indent: 25px;
    height: auto;
    padding: 10px;
    text-transform: capitalize;
}
.lines {
    border-left: 1px solid #ffaa9f;
    border-right: 1px solid #ffaa9f;
    width: 2px;
    float: left;
    height: 495px;
    margin-left: 40px;
  }
  @media(max-width:764px)
  {
      .words
      {
          width:400px;

      }
  }